<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Horse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Questions</h1>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>What is Ultrasonography/Ultrasound? <input type="text" th:field="*{id}" /></p>

    <p>What are common ultrasound procedures? <input type="text" th:field="*{content}" /></p>

    <p>Do you like horses?</p>
    <input type="radio" th:field="*{horse}" value="'Yes' Incorrect, Don't trust horses, they are large and full of ill intent"> Yes<br>
    <input type="radio" th:field="*{horse}" value="'No' Correct"> No<br>
    <input type="radio" th:field="*{horse}" value="'Those demons eat fingers!!' You are wise and know the truth"> Those demons eat fingers!!<br>

    <p>Ghost Horse?</p>
    <input type="radio" th:field="*{ghost}" value="'Yes, please' Correct :D"> Yes, please<br>
    <input type="radio" th:field="*{ghost}" value="'No, thank you' Incorrect D:"> No, thank you<br>

    <p>Number of horses in your family:</p>
    <select th:field="*{number}">
        <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
        </option>
    </select>

    <p>Thoughts?</p>
    <select th:field="*{thot}">
        <option th:value="'Good, this is a learning exercise'" th:text="Yes"></option>
        <option th:value="'...Are you sure?'" th:text="No"></option>
    </select>

    <p>What's a good horse city?</p>
    <input th:field="*{city}" list="cities" />
    <datalist id="cities">
        <option value="Naples" />
        <option value="London" />
        <option value="Berlin" />
        <option value="New York" />
        <option value="Frattamaggiore" />
    </datalist>

    <p>What is your favorite horse breed?</p>
    <br> <textarea th:field="*{bog}" rows="10" cols="30">
    </textarea>


    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>