<!DOCTYPE html>
<html>

<head>

    <title>Local8080</title>
    <meta charset="utf-8">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body id="topSection">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form name="questionForm" onsubmit="return validateForm()">
                    <p>
                        Question #XX
                        <br />
                        Runs down the back of the leg, behind the carpus and cannon, branches below the fetlock and inserts into the distal side of the 1st phalanx and proximal side of the 2nd phalanx.
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="incorrect">
                        <label class="form-check-label" for="option1radio">
                            Common digital extensor
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="incorrect">
                        <label class="form-check-label" for="option2radio">
                            Lateral digit extensor
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="incorrect">
                        <label class="form-check-label" for="option3radio">
                            Deep digital extensor
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="correct">
                        <label class="form-check-label" for="option4radio">
                            Superficial digital extensor
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <script>
                                function validateForm() {
                                    var corrOpt = document.getElementById('exampleRadios4');
                                    corrOpt.dataset.target = "#correctModal";
                                    if (document.getElementById('exampleRadios4').checked) {
                                        $('#correctModal').modal('show')
                                    } else {
                                        $('#incorrectModal').modal('show')
                                    }
                                }
                            </script>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#correctModal">
                                Submit
                            </button>
                            <!-- Correct Modal -->
                            <div class="modal fade" id="correctModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Correct
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Incorrect Modal -->
                            <div class="modal fade" id="incorrectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Incorrect
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Extensions JS -->
    <script src="js/extensions.js"></script>

</body></html>
